<div style="margin-top: 8px">
  <button mat-icon-button [ngClass]="app.digitCssClasses[digit]" [disabled]="app.digitCssClasses[digit].exhaustedDigit" class="digit"
    *ngFor="let digit of [1, 2, 3, 4, 5]" (click)="app.digitClicked(digit)">{{ digit }}</button>
</div>
<div>
  <button mat-icon-button [ngClass]="app.digitCssClasses[digit]" [disabled]="app.digitCssClasses[digit].exhaustedDigit" class="digit"
    *ngFor="let digit of [6, 7, 8, 9]" (click)="app.digitClicked(digit)">{{ digit }}</button>
  <button mat-icon-button [ngClass]="app.digitCssClasses[0]" class="digit" *ngIf="app.isUserDefined" (click)="app.digitClicked(0)">X</button>
</div>
