<h1 mat-dialog-title>{{ data.title + "?" }}</h1>
<div mat-dialog-content>
  <p>{{ data.question }}</p>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="dialogRef.close(true)">{{ data.title }}</button>
  <button mat-raised-button (click)="dialogRef.close(false)">{{ 'cancelButton' | translate }}</button>
</div>
